<?xml version='1.0' encoding='utf-8'?>
<widget id="com.globalradio.app" version="2.3.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GlobalRadio</name>
    <description>
        This is a sample app
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Global Publishers
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <resource-file src="google-services.json" target="app/google-services.json" />
        <icon src="www/img/app_logo.png" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="57" src="res/icon/ios/app_logo/icon.png" width="57" />
        <icon height="114" src="res/icon/ios/app_logo/icon@2x.png" width="114" />
        <icon height="40" src="res/icon/ios/app_logo/icon-40.png" width="40" />
        <icon height="80" src="res/icon/ios/app_logo/icon-40@2x.png" width="80" />
        <icon height="120" src="res/icon/ios/app_logo/icon-40@3x.png" width="120" />
        <icon height="50" src="res/icon/ios/app_logo/icon-50.png" width="50" />
        <icon height="100" src="res/icon/ios/app_logo/icon-50@2x.png" width="100" />
        <icon height="60" src="res/icon/ios/app_logo/icon-60.png" width="60" />
        <icon height="180" src="res/icon/ios/app_logo/icon-60@3x.png" width="180" />
        <icon height="72" src="res/icon/ios/app_logo/icon-72.png" width="72" />
        <icon height="144" src="res/icon/ios/app_logo/icon-72@2x.png" width="144" />
        <icon height="76" src="res/icon/ios/app_logo/icon-76.png" width="76" />
        <icon height="152" src="res/icon/ios/app_logo/icon-76@2x.png" width="152" />
        <icon height="167" src="res/icon/ios/app_logo/icon-167.png" width="167" />
        <icon height="334" src="res/icon/ios/app_logo/icon-167@2x.png" width="334" />
        <icon height="1024" src="res/icon/ios/app_logo/icon-1024.png" width="1024" />
        <icon height="29" src="res/icon/ios/app_logo/icon-small.png" width="29" />
        <icon height="58" src="res/icon/ios/app_logo/icon-small@2x.png" width="58" />
        <icon height="87" src="res/icon/ios/app_logo/icon-small@3x.png" width="87" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <engine name="android" spec="^8.0.0" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
    <plugin name="cordova-plugin-inappbrowser" spec="^3.2.0" />
    <plugin name="cordova-plugin-x-socialsharing" spec="^5.6.8">
        <variable name="ANDROID_SUPPORT_V4_VERSION" value="24.1.1+" />
    </plugin>
    <plugin name="cordova-plugin-statusbar" spec="^2.4.3" />
    <plugin name="phonegap-plugin-push" spec="^2.3.0">
        <variable name="ANDROID_SUPPORT_V13_VERSION" value="27.+" />
        <variable name="FCM_VERSION" value="17.0.+" />
    </plugin>
    <plugin name="cordova-android-support-gradle-release" spec="^3.0.1">
        <variable name="ANDROID_SUPPORT_VERSION" value="27.+" />
    </plugin>
    <plugin name="cordova-plugin-admobpro" spec="^2.49.0">
        <variable name="ADMOB_APP_ID" value="503066099736" />
        <variable name="PLAY_SERVICES_VERSION" value="16.0.0" />
    </plugin>
</widget>
